@import url("https://fonts.googleapis.com/css?family=Open+Sans:300:400,600");

body {
  background-color: white;
  padding: 10px 20px;
  color: #020202;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

span {
  font-size: 30px;
}
